## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [1]:
ciudades=['bogota','buenos aires','new york','dubai','taiwan','rio de janeiro']
print(ciudades)

['bogota', 'buenos aires', 'new york', 'dubai', 'taiwan', 'rio de janeiro']

2) Imprimir por pantalla el segundo elemento de la lista

In [2]:
print(ciudades[1])

buenos aires

3) Imprimir por pantalla del segundo al cuarto elemento

In [3]:
ciudades[1:4]

['buenos aires', 'new york', 'dubai']

4) Visualizar el tipo de dato de la lista

In [4]:
type(ciudades)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [5]:
ciudades[2:]

['new york', 'dubai', 'taiwan', 'rio de janeiro']

6) Visualizar los primeros 4 elementos de la lista

In [7]:
ciudades[:4]

['bogota', 'buenos aires', 'new york', 'dubai']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [88]:
ciudades.append('miami')
ciudades.insert(3,'lima')

In [34]:
ciudades.append('servia')
print(ciudades)

['bogota', 'buenos aires', 'new york', 'dubai', 'taiwan', 'rio de janeiro', 'miami', 'servia']

8) Agregar otra ciudad, pero en la cuarta posición

In [51]:
ciudades.insert(3,'lima')
print(ciudades)

['bogota', 'buenos aires', 'new york', 'lima', 'dubai', 'taiwan', 'rio de janeiro', 'miami', 'servia']

9) Concatenar otra lista a la ya creada

In [86]:
ciudades.extend(['roma','inglaterra','el salvador'],)
print(ciudades)

['bogota', 'buenos aires', 'new york', 'lima', 'dubai', 'taiwan', 'rio de janeiro', 'miami', 'servia', 'roma', 'inglaterra', 'el salvador']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [92]:
ciudades.index('lima')
#la particularidad es que muestra el indice de la primera que aparezca en a lista

3

11) ¿Qué pasa si se busca un elemento que no existe?

In [93]:
ciudades.index('rusia')
#nos va a lanzar erro de que no existe en la lista

ValueError: 'rusia' is not in list

12) Eliminar un elemento de la lista

In [94]:
ciudades.remove('miami')

In [95]:
print(ciudades)

['bogota', 'buenos aires', 'new york', 'lima', 'lima', 'dubai', 'taiwan', 'rio de janeiro', 'servia', 'roma', 'inglaterra', 'el salvador']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [96]:
ciudades.remove('caracas')

ValueError: list.remove(x): x not in list

In [ ]:
#nos tira error porque no existe en la lista

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [97]:
ciudad=ciudades.pop()
print(ciudad)

el salvador

15) Mostrar la lista multiplicada por 4

In [98]:
ciudades*4

['bogota',
 'buenos aires',
 'new york',
 'lima',
 'lima',
 'dubai',
 'taiwan',
 'rio de janeiro',
 'servia',
 'roma',
 'inglaterra',
 'bogota',
 'buenos aires',
 'new york',
 'lima',
 'lima',
 'dubai',
 'taiwan',
 'rio de janeiro',
 'servia',
 'roma',
 'inglaterra',
 'bogota',
 'buenos aires',
 'new york',
 'lima',
 'lima',
 'dubai',
 'taiwan',
 'rio de janeiro',
 'servia',
 'roma',
 'inglaterra',
 'bogota',
 'buenos aires',
 'new york',
 'lima',
 'lima',
 'dubai',
 'taiwan',
 'rio de janeiro',
 'servia',
 'roma',
 'inglaterra']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [126]:
a=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [112]:
a[10:15]

(12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [114]:
print(20 in a)
30 in a

True

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [115]:
city='paris'
if(not('paris' in ciudades)):
    ciudades.append('paris')
    print('se agrego el elemento ',str(city))
else:
    print('el elemeto ',str(city),' ya existia')

se agrego el elemento  paris

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [121]:
print(a.count('13'))
print(ciudades.count('lima'))

0
2

21) Convertir la tupla en una lista

In [130]:
b=list(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [131]:
a1,a2,a3,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,=a
print(a1,a2,a3)

1 2 3

In [132]:
print(ciudades)

['bogota', 'buenos aires', 'new york', 'lima', 'lima', 'dubai', 'taiwan', 'rio de janeiro', 'servia', 'roma', 'inglaterra', 'paris']

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [133]:
a=dict
a={'ciudades':ciudades,
   'pais':['colombia','argentina','USA','peru','','taiwan','brazil','rusia','italia','inglaterra','francia'],
   'continente':['america','america','america','america','america','','asia','america','asia','europa','europa','europa']}
print(a)

{'ciudades': ['bogota', 'buenos aires', 'new york', 'lima', 'lima', 'dubai', 'taiwan', 'rio de janeiro', 'servia', 'roma', 'inglaterra', 'paris'], 'pais': ['colombia', 'argentina', 'USA', 'peru', '', 'taiwan', 'brazil', 'rusia', 'italia', 'inglaterra', 'francia'], 'continente': ['america', 'america', 'america', 'america', 'america', '', 'asia', 'america', 'asia', 'europa', 'europa', 'europa']}

24) Imprimir las claves del diccionario

In [134]:
print(a.keys())

dict_keys(['ciudades', 'pais', 'continente'])

25) Imprimir las ciudades a través de su clave

In [138]:
print(a['ciudades'])
print(a['pais'])
print(a['continente'])

['bogota', 'buenos aires', 'new york', 'lima', 'lima', 'dubai', 'taiwan', 'rio de janeiro', 'servia', 'roma', 'inglaterra', 'paris']
['colombia', 'argentina', 'USA', 'peru', '', 'taiwan', 'brazil', 'rusia', 'italia', 'inglaterra', 'francia']
['america', 'america', 'america', 'america', 'america', '', 'asia', 'america', 'asia', 'europa', 'europa', 'europa']