## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
b=113
print(b)

113

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type (9.3)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type (b)

int

4) Crear una variable que contenga tu nombre

In [22]:
mi nombre = 'Omar Sneider'

5) Crear una variable que contenga un número complejo

In [ ]:
n_complejo = 5 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [50]:
type(n_complejo)

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [32]:
pi = 3,1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [46]:
var1 ='true'
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [47]:
print('la variable 1 es de tipo ', type(var1), ' y la variable 2 es de tipo ', type(var2))

la variable 1 es de tipo  <class 'str'>  y la variable 2 es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [ ]:
a = 5.3 + 3

11) Realizar una operación de suma de números complejos

In [59]:
r = 5 + 4j
d = 2 + 5j
print (r+d)

(7+9j)

12) Realizar una operación de suma de un número real y otro complejo

In [60]:
c = r + 1.61
print (c)

(6.61+4j)

13) Realizar una operación de multiplicación

In [61]:
a = 3 * 2
print(a)

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [62]:
a = 2**3
print(a)

8

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [63]:
d = 27 / 4 
print(d)

6.75

16) De la división anterior solamente mostrar la parte entera

In [65]:
print ( 27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [66]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [67]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [69]:
var1 = 'nueva '
var2 = 'york'
print(var1 + var2)

nueva york

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [70]:
2 == '2'

False

In [71]:
2 == 2

True

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [73]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

porque no se puede convertir una variable string a un tipo float

In [74]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [79]:
a = -3
a -= -5
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [80]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

porque un operando es del tipo int y el otro es del tipo string

In [81]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [88]:
var1 = 'esto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

esto se repite esto se repite esto se repite 3 veces